body {
    width: 100%;
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    Margin: 0
}

p {
    margin: 0;
    font-size: 16px;
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
    line-height: 19px;
    color: #999999
}

a {
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #75B6C9
}

h1 {
    Margin: 0;
    line-height: 53px;
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF
}

h2 {
    Margin: 0;
    line-height: 34px;
    font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    color: #444444
}

table {
    border-spacing: 0px;
}

@media only screen and (max-width:600px) {
    p,
    ul li,
    ol li,
    a {
        font-size: 16px;
        ;
        line-height: 120%;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        line-height: 120%;
    }
    h2 {
        font-size: 26px;
        text-align: center;
        line-height: 120%;
    }
    h1 a {
        font-size: 30px;
    }
    h2 a {
        font-size: 26px;
    }
    .es-content table,
    .es-header table,
    .es-footer table,
    .es-content,
    .es-footer,
    .es-header {
        width: 100%!important;
        max-width: 600px!important
    }
    .es-adapt-td {
        display: block!important;
        width: 100%!important
    }
    .adapt-img {
        width: 100%!important;
        height: auto!important;
    }
    .adapt-img-icon {
        width: auto!important;
        height: auto!important;
    }
    .adapt-img-link {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0px 10px 0px 10px;
    }
    .es-m-p0 {
        padding: 0px!important
    }
    .es-m-p0r {
        padding-right: 0px!important
    }
    .es-m-p0l {
        padding-left: 0px!important
    }
    .es-m-p0t {
        padding-top: 0px!important
    }
    .es-m-p0b {
        padding-bottom: 0!important
    }
    .es-m-p20b {
        padding-bottom: 20px!important
    }
    .es-mobile-hidden,
    .es-hidden {
        display: none!important
    }
}